.strength-item {
    font-family: 'Arial Black';
    font-size: 36px;
    position: absolute;
}

.strength-item a:link, a:hover, a:active, a:visited {
    color: white;
}

.positivity {
    top: 100px;
    left: 300px;
}

.includer {
    top: 140px;
    left: 450px;
}

.individualization {
    top: 180px;
    left: 490px;
}

.connectedness {
    top: 220px;
    left: 590px;
}

 .adaptability{
    top: 260px;
    left: 660px;
}