.age-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 207px;
    height: 177px
}

.age-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.age-item {
    margin-top: 20px;
    font-size: 17px;
    line-height: 21px;
    color: #0B9CFF;
}