.height-item {
    margin-top: 30px;
}

.height-meter-text {
    font-family: Armata;
    font-style: normal;
    font-weight: normal;
    fill: var(--off-color);
    ;
}

.height-text {
    font-size: 18px;
    line-height: 22px;
    color: var(--on-color);
}