.layout-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.layout-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.layout-column-around {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.layout-column-around {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.layout-column-even {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

